# 核心框架
fastapi==0.109.2
uvicorn==0.27.0
python-dotenv==1.0.0

# 机器学习
scikit-learn==1.5.1
joblib==1.4.2
pandas==2.2.2
numpy==1.26.4  # pandas依赖项

# 缓存与数据库
redis==5.0.1
fastapi-cache==0.1.0  # 重要：必须使用此版本

# 文本处理
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2  # 加速模糊匹配

# 网络请求
requests==2.31.0
aiohttp==3.9.5  # 异步请求支持

# 其他工具
apscheduler==3.10.1  # 定时任务
python-multipart==0.0.9  # 表单处理