fastapi==0.109.2
uvicorn==0.27.0
joblib==1.4.2
scikit-learn==1.5.1
requests==2.31.0
python-dotenv==1.0.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2
redis==5.0.1
fastapi-cache==0.1.0  # 可用版本
pandas==2.2.2